$primary-color: red;
$secondary-color: white;


// font
$font-stack:'Work sans', 'PT Serif'  Helvetica, Arial, sans-serif;

$h1-primary-color: #2F2926;
$h1-secondary-color: white;
$h1-primary-font: 'PT Serif';

$h2-primary-color: #2F2926;
$h2-secondary-color: white;
$h2-primary-font: 'PT Serif';


$h3-primary-color: white;
$h3-secondary-color: black;
$h3-primary-font:'PT Serif';

$text-font: 'Work sans';